/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.idea/modules.xml
.idea/Quantic-v2.iml
.idea/vcs.xml
composer.lock
.idea/workspace.xml
